{% load i18n %}
{% block subject %}
{% blocktrans %}Application Received - {{career}} at Tanta Innovatives{% endblocktrans %}
{% endblock subject %}
{% block html_body %}
<p>Dear {{first_name}},</p>

<p>Thank you for applying for the {{career}} position at Tanta Innovatives.
 We have received your application and appreciate your interest in joining our team.</p>


<p>We are currently reviewing applications and will be in touch if your qualifications match our requirements.</p>

<p>Thank you for considering us as a potential employer.</p>

<p>Best regards,</p>
<p>Hr</p>
<p>Tanta Innovatives Ltd</p>
{% endblock html_body%}
