{% load i18n %}
{% block subject %}
{% blocktrans %}New Admin Account Created{% endblocktrans %}
{% endblock subject %}
{% block text_body %}
Dear {{ name }}


A KEEP-AM-HERE Admin account has been created for you. Here are your account details:
Username: {{ username }}

Please log in to our platform to change your password using the link below:
{{ login_url }}
Thank you for joining our team.


<br/>
<br/>
Best regards,
Support
{% endblock text_body %}

{% block html_body %}
    <p>Dear {{name}},</p>

  
    <p>A KEEP-AM-HERE Admin account has been created for you. Here is your account detail:</p>
	<ul>
		<li>Username: {{ username }}</li>
		
	</ul>
	<p>Please log in to the dashboard to change your password using the link below:</p>
	<p><a href="{{ login_url }}">{{ login_url }}</a></p>
	<p>Thank you for joining our team.</p>
	<p>Best regards,</p>
	<p>Support</p>

{% endblock html_body %}
